@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Noto Sans JP !important;
  color: #2e3f51;
  background-color: #eef4fa;
}

button [type='button'],
[type='reset'],
[type='submit'] {
  background-color: #2e3f51;
  background-image: none;
}
.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 32px;
}
